body {
  color: #3c465a;
}

a {
  text-decoration: underline;
}

.heroHomeContainerBupa {
  background: url(../images/bupa-bg.jpg);
  background-size: cover;
  background-position: center top;
  text-align: left;
  height: auto;
}

.section {
  text-align: center;
  padding: 80px 0;
}

.section h1 {
  padding-bottom: 50px;
}

.bupaHeroInfo {
  position: relative;
  max-width: 1180px;
  margin: 0 auto;
  padding: 15vh 20px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

.bupaHeroInfo img {
  max-width: 200px;
  padding-bottom: 50px;
}

.bupaHeroText {
  max-width: 650px;
}

.row {
  position: relative;
  flex-wrap: wrap;
  max-width: 1180px;
  padding: 0 50px;
  margin: 0 auto;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.terms-text {
  text-align: center;
  margin: 0 auto;
  padding-top: 5vh;
  font-size: 14px;
}

.row .col {
  width: 325px;
  padding: 0 15px;
  text-align: center;
}

.row .col img {
  max-height: 75px;
}

.budget {
  background-color: #f4f7ff;
}

.budget-options {
  align-items: flex-end;
}

.budget-option {
  cursor: pointer;
  border-bottom: solid 5px transparent;
}

.budget-option.active {
  font-weight: 600;
  font-size: 1.5rem;
  border-bottom: solid 5px #2864ff;
}

.budget-details {
  padding: 50px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

.budget-details h2:first-child {
  margin-bottom: 1rem;
  font-weight: 400;
}

.app {
  background: url(../images/bupa-bg-2.jpg);
  background-size: cover;
  background-position: center top;
  text-align: left;
  height: auto;
}

.app-details {
  max-width: 1180px;
  margin: 0 auto;
  padding: 75px 50px;
  background-color: rgba(255, 255, 255, 0.75);
  text-align: center;
  border-radius: 25px;
}

.app-details h1 {
  padding-bottom: 2rem;
}

.app-details p {
  margin: 0 auto;
  max-width: 750px;
  padding-bottom: 2rem;
  font-size: 1.25rem;
}

.app-details img {
  max-width: 150px;
}

.openpay-btn {
  background-color: #2864ff;
  border-color: transparent;
  border-radius: 5px;
  font-weight: 700;
  color: white;
  padding: 15px;
  cursor: pointer;
}

.location-info {
  text-align: left;
  margin-top: 10%;
}

.location-info h1,
h4 {
  padding-bottom: 35px;
}

.col-half-desktop {
  width: 50%;
}

@media screen and (max-width: 768px) {
  img {
    max-width: 300px;
  }

  .app-details,
  .budget-details,
  .location-info {
    margin: 15px;
  }

  .col-half-desktop {
    width: 100%;
  }

  .row .col {
    width: 100%;
    margin: 25px 0;
    text-align: center;
  }

  .location-info {
    text-align: center;
    margin-top: 0;
  }
}

/* Accordion */
.intrigued {
  background-color: #F5F6F7;
  margin-top: 0px;
  padding: 80px 0;
}

.intrigued h1 {
  color: #3C465A;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  text-align: center;
  padding: 0 25px 20px;
}

.intrigued p {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  padding: 0 50px;
}

/* .transition, p, ul li i:before, ul li i:after {
  transition: all 0.25s ease-in-out;
} */

.flipIn, h1, ul li {
  animation: flipdown 0.5s ease both;
}

.accordionWrapper{
  width: 100%;
  height: 100%;
  color: rgba(48, 69, 92, 0.8);
}

.innerAccordionWrapper{
  min-height: 0;
  position: relative;
  left: 50%;
  margin: 90px 0;
  transform: translate(-50%, 0);
  box-shadow: 0 10px 0 0 #005950 inset;
  background-color: #ffffff;
  max-width: 1450px;
  padding: 30px;
}

.accordionWrapper .innerAccordionWrapper p {
  text-align: center;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
  max-height: 800px;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2;
}

.accordionWrapper .innerAccordionWrapper h2 {
  text-align: center;
  padding-bottom: 10px;
}


ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
}

ul li {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 18px;
  border-top: 1px dotted #dce7eb;
}

ul li:nth-of-type(1) {
  animation-delay: 0.5s;
}

ul li:nth-of-type(2) {
  animation-delay: 0.75s;
}

ul li:nth-of-type(3) {
  animation-delay: 1s;
}

ul li:last-of-type {
  padding-bottom: 0;
}

ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 0;
}

ul li i:before, ul li i:after {
  content: "";
  position: absolute;
  background-color: #ff6873;
  width: 3px;
  height: 9px;
}

ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}

ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}

ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}

ul li input[type=checkbox]:checked ~ p,
ul li input[type=checkbox]:checked ~ .accordion__items-wrapper {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}

ul li input[type=checkbox]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}

ul li input[type=checkbox]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}

.accordion__items-wrapper {
  display: flex;
  justify-content: center;
}

@media (max-width: 550px) {
  .innerAccordionWrapper {
    box-sizing: border-box;
    transform: translate(0, 0);
    max-width: 100%;
    min-height: 100%;
    margin: 0;
    left: 0;
  }

  .accordion__items-wrapper {
    flex-wrap: wrap;
  }
}