body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

p,
span,
ul li,
a {
    font-weight: 300;
}

section {
    padding-bottom: 2rem;
}

.text-div {
    background-color: #0F3E47;
    padding: 10%;
    color: white;
}

.text-div h1 {
    font-size: 2.5rem;
}

.text-div p {
    font-size: 1em;
}

.logo-div {
    background-color: #D2FDF3;
    padding: 10%;
}

.promo-item {
    width: 480px;
    height: 267px;
    margin: 5px;
}

.slick-slide {
    color: white;
    text-align: center;
    margin: 10px;
}

.nav-link {
    font-weight: 500;
    color: black;
    padding: 0 30px !important;
    font-size: 14px;
}

.promo-card {
    border-radius: 5px;
}

.show-mobile {
    display: none;
}

.logo {
    height: 60px;
}

.hide-mobile {
    display: block;
}

#footer {
    background-image: url('../images/PNG/footer-bg.png');
    min-height: 375px;
    margin-top: 5vh;
    background-size: auto 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    background-position-y: bottom;
}

.social-link {
    color: #3C465A;
    font-weight: 400;
}

.footer-link {
    font-weight: 500;
    color: black;
}

.legal-link {
    font-weight: 300;
    font-size: 12px;
    color: #3C465A;
    text-decoration: underline;
}

.copyright-text {
    font-weight: 300;
    color: #3C465A;
    opacity: 60;
}

.store-img {
    width: 150px;
}

.py-10px {
    padding: 10px 0;
}

.hide-overflow {
    overflow: hidden;
}

.voucher-text {
    padding: 25px;
}

.health-steps {
    padding: 0;
    font-size: 1.25rem;
    list-style: none;
}

.health-steps {
    font-weight: 500 !important;
}

.extra-thick {
    font-weight: 700;
}

.voucher-text {
    background-color: rgba(15, 62, 71, 0.16);
    color: #0F3E47;
}

.find-loc {
    margin: 25px 0;
    padding: 10px 50px;
    background-color: #2864FF;
}

.fw-500{
    font-weight: 500 !important;
}

.voucher-img {
    min-height: 250px;
    background-image: url('../../openmay/images/JPG/Vouchers_banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 768px) {
    .nav-link {
        text-align: center;
        margin: 5px;
    }

    #footer {
        background-size: 100%;
    }

    .text-center-mobile {
        text-align: center !important;
    }

    .top-row {
        flex-direction: column-reverse;
        text-align: center !important;
    }

    .show-mobile {
        display: block;
    }

    .hide-mobile {
        display: none;
    }

}